{% extends 'base.html' %}


{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-sm">
      <thead>
        <tr>
          <th style="font-size:30px;">{{ category_name }} :</th>
        </tr>  
        <tr>
          <th colspan="3">Article</th>
          <th colspan="5">Name</th>
          <th colspan="1">Qte</th>
          <th colspan="1">Description</th>
          <th colspan="2">Prix</th>
        </tr>
      </thead>
      <tbody>
        {% for product in prod %}
        <tr>
            <td colspan="3"><a href="{% url 'productss' product.slug %}"><img src = "{{ product.thumbnail.url }}"  width="200px" height="200px"></a></td>
            <td  colspan="5"><br><br><span class="badge badge-warning badge-primary ">  {{ product.name }}</span></td>
            <td  colspan="1"> <span class="badge badge-warning badge-danger "> {{ product.stock }}</span></td>
            <td  colspan="1" style="margin-top:5px;">{{ product.description }}</td>
            <td  colspan="2"><br><br><span class="badge badge-warning badge-danger "style="font-size:20px;"> {{ product.price }} Drs</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>     
  </div>
  <div class="col-md-2"></div>
</div>    

{% endblock %}