{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
           <h3 class="text-center">Voici votre liste</h3>
          {% for Order in orderss %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ Order.product.name }}
              <span class="badge badge-primary badge-pill">QTE{{ Order.quantity }}</span>
              <span class="badge badge-warning badge-pill">${{ Order.product.price }}</span>
            </li>
           {% endfor %}
          
    </div>
</div>
<br>
<div class="container"style="width:100%;padding:0px;margin:5px;">
<form method="POST" action="{% url 'valid' %}">
  <div class="form-row" >
    {% csrf_token %}
    <div class="form-group col">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" name="Address" id="inputAddress" placeholder="1234 Main St" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name="city" class="form-control" id="inputCity" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">pays</label>
      <select id="inputState" name="pays" class="form-control" required>
        <option selected>Tunis</option>
        <option>France</option>
        <option>Emirat</option>
        <option>Qatar</option>
        <option>Lybia</option>
        <option>Maroc</option>
        
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" name="zip" class="form-control" id="inputZip" required>
    </div>
  </div>
  <span class="badge badge-dark" style="font-size:22px; color:yellow;margin-bottom:5px;">${{ Total }}</span>
  <br>
  {% if user.cart %}
        <button class="btn btn-primary" type="submit" value="Envoyer" onclick="return validerFormulaire();">Commander</button>
    {% endif %}
  
</form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ user.cart.orders.count }} Articles Total: {{ Total }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      
        <div class="modal-body">
          {% for Order in orderss %}
          <div class="row">
           <div class="col-md-6">
            <img src = "{{ Order.product.thumbnail.url }}"  width="150px" height="150px">
           </div>
           <div class="col-md-6">  
             <div>
               Nom:{{ Order.product.name }}
             </div>
             <div>
               prix: {{ Order.product.price }}
             </div> 
           </div>
          </div> 
           <hr>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<script>
  function validerFormulaire() {
    var nom = document.getElementById('nom').value;
  
    if (nom === '') {
      alert('Veuillez remplir tous les champs obligatoires.');
      return false;
    }
  
    return true;
  }
</script>  
{% endblock %}